.header {
  position: sticky; /* Делает элемент "липким", он остается видимым при прокрутке страницы */
  z-index: 1;
  top: 0;
  right: 0;
  height: auto; /* Высота адаптируется под содержимое */
  padding: 5px;
  background-color: blueviolet;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  overflow: hidden; /* Скрывает содержимое, выходящее за границы элемента */
  width: 100%;
  max-width: 500px;
}

.input_form {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: #f1f3f4;
  border-radius: 8px;
}

.input {
  border: none;
  outline: none; /* Убирает обводку при фокусе */
  font-size: 18px;
  flex-grow: 1; /* Поле ввода занимает все доступное пространство */
  background: transparent;
}

.button {
  cursor: pointer; /* Изменяет курсор на указатель при наведении */
  transition: color 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

/* При наведении на кнопку */
.button:hover .search_icon {
  color: blueviolet;
}
