.header {
  position: sticky; /* Делает элемент "липким", он остается видимым при прокрутке страницы */
  z-index: 1; /* Задает порядок отображения, чтобы элемент был поверх других */
  top: 0; /* Закрепляет элемент у верхнего края окна */
  right: 0; /* Выравнивает элемент относительно правого края */
  height: auto; /* Высота адаптируется под содержимое */
  padding: 5px; /* Отступы внутри элемента */
  background-color: blueviolet; /* Цвет фона элемента */
  border-radius: 8px; /* Закругляет углы элемента */
  display: flex; /* Устанавливает flex-контейнер для управления дочерними элементами */
  justify-content: center; /* Выравнивает дочерние элементы по центру по горизонтали */
  align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
}

.form {
  overflow: hidden; /* Скрывает содержимое, выходящее за границы элемента */
  width: 100%; /* Элемент занимает всю доступную ширину */
  max-width: 500px; /* Устанавливает максимальную ширину элемента */
}

.input_form {
  display: flex; /* Устанавливает flex-контейнер для дочерних элементов */
  align-items: center; /* Выравнивает элементы по центру по вертикали */
  gap: 10px; /* Задает промежуток между дочерними элементами */
  padding: 5px; /* Внутренние отступы элемента */
  background-color: #f1f3f4; /* Цвет фона элемента */
  border-radius: 8px; /* Закругляет углы элемента */
}

.input {
  border: none; /* Убирает рамку вокруг элемента */
  outline: none; /* Убирает обводку при фокусе */
  font-size: 18px; /* Размер текста внутри поля ввода */
  flex-grow: 1; /* Поле ввода занимает все доступное пространство */
  background: transparent; /* Фон элемента становится прозрачным */
}

.button {
  cursor: pointer; /* Изменяет курсор на указатель при наведении */
  transition: color 0.3s; /* Плавный переход для изменения цвета за 0.3 секунды */
}

.button:hover {
  transform: scale(1.1); /* Увеличивает кнопку при наведении */
}

/* При наведении на кнопку */
.button:hover .search_icon {
  color: blueviolet; /* Меняет цвет иконки на blueviolet */
}
