.LoadMoreBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); /* Центрируем кнопку по горизонтали */
  padding: 10px 20px;
  font-size: 16px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
}
